html,body {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}
.header {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}
.navbar {
    background-color: transparent;
}
.header .navbar a i {
    font-size: 45px;
    color: #35a22c;
}
.header .navbar a span {
    color: #fff;
    font-size: 36px;
}
.header .nav-item {
    margin: 0 10px;
}
.header .nav-item .nav-link {
    color: #fff;
    padding: 8px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.header .nav-item .nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color:#35a22c ;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}
.header .nav-item .nav-link:hover::after,
.header .nav-item .nav-link.active::after {
    width: 100%;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #35a22c;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #35a22c;
}
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}
.navbar-toggler {
    background-color: #35a22c;
    padding: 0;
    width: 50px;
    height: 40px;
}
.navbar-toggler span {
    color: #fff !important;
    line-height: 40px;
    height: 100%;
}
.navbar-toggler-icon {
    background-image: none !important;
}
.item-1 {
    background-image: url(/img/image/finland.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.item-2 {
    background-image: url(/img/image/mountains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.item-3 {
    background-image: url(/img/image/mountains-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.carousel {
    position: relative;
}
.carousel-item {
    position: relative;
}
.carousel-caption {
    position: absolute;
    display: block !important;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.carousel-caption img {
    width: 140px;
    border-radius: 50%;
    margin: 0;
}
.carousel-caption h5{
    font-size: 56px;
    line-height: 65px;
}
.carousel-caption p{
    font-size: 24px;
}
.carousel__overplay {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
}
.carousel-indicators .active {
    background-color: #35a22c;
}
.carousel-indicators {
    position: absolute;
    bottom: 10%;
    z-index: 15px;
}
.project {
    padding: 70px 0;
}
.project__text {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}
.project__text h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.project__text p {
    color: #585858;
    line-height: 24px;
    padding-bottom: 20px;
}
.project__item {
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}
.project__item:hover .project__desc {
    border-bottom:1px solid #35a22c ;
    border-left:1px solid #35a22c ;
    border-right:1px solid #35a22c ;
}
.project__item:hover .project__desc h3 {
    color: #35a22c;
}
.project__item .project__img img {
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    border: 1px solid #fff;
}
.project__desc {
    box-shadow:0px 1px 4px rgba(0,0,0,0.3);
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    padding: 20px 0 24px;
    text-align: center;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}
.project__desc h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.1;
    transition: all 0.3s ease-in-out;
}
.project__desc p {
    color: #585858
}
.nav-pills .nav-link {
    margin: 0 10px;
    border: 1px solid black;
}
.nav-pills .nav-link.active {
    background-color: #35a22c;
    color: #fff;
    border: 1px solid #35a22c;
}
.feature {
    background-image: url(/img/image/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 0;
    position: relative;
}
.feature__overplay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.feature__text {
    text-align: center;
    color: #fff;
    position: relative;
    padding: 40px 20px;
    max-width: 750px;
    margin: 0 auto;
}
.feature__text h2 {
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 36px;
}
.feature__item {
    text-align: center;
    background: rgba(255,255,255,.1);
    backdrop-filter:blur(3px);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
.feature__item:hover {
    border: 1px solid #fff;
    background: rgba(0,0,0,0.8);
}
.feature__item i {
    font-size: 48px;
    color: #35a22c;
}
.feature__item h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    padding-top: 25px;
}
.feature__item p {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #fff;
    line-height: 24px;
    padding-top: 16px;
}
.award {
    background-image: url(/img/image/memphis_3.png);
    padding: 70px 0;
    background-position: bottom left;
    background-size: 50% auto;
    background-repeat: no-repeat;
}
.award__left {
    background:rgba(255,255,255,.25);
    padding: 45px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
    border-radius: 10px;
}
.award__left h2 {
    font-weight: 800;
    padding-bottom: 15px;
}
.award__right {
    padding: 45px 0;
}
.footer {
    padding: 35px 0;
    background-color: #222;
}
.footer__top {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.5) ;
    padding:20px 0 30px ;
    text-align: center;
}
.footer__top i {
    width: 40px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.5);
    color: rgba(255,255,255,.5);
    margin: 0 4px;
    cursor: pointer;
    transition:all 0.3s ease-in-out;
}
.footer__top i:hover {
    border: 1px solid #35a22c;
    color: #35a22c;
}
.copyright {
    text-align: center;
    padding-top: 20px;
    color: rgba(255,255,255,.5);
    margin: 0;
}
.copyright p a {
    color: rgba(255,255,255,.5);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.copyright a:hover {
    color: #35a22c;
}
@media 